{% extends "base.html" %}
{% import "components/card.html" as card %}
{% import "components/sort-form.html" as sort %}
{% import "components/entry-modal.html" as modal %}
{% import "components/edit-modal.html" as edit %}
{% import "components/dots.html" as dots %}

{% block title %}{{ title.display_name }}{% endblock %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link href="/static/dist/css/tags.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div>
  {# Batch select bar - shows when items are selected #}
  <div id="select-bar" class="uk-card uk-card-body uk-card-default uk-margin-bottom" uk-sticky="offset:10" x-data="{count: 0}" @add.window="count++; $dispatch('count', {count: count})" @remove.window="count--; $dispatch('count', {count: count})" x-show="count > 0" style="border:orange;border-style:solid;" x-cloak data-id="{{ title.id }}">
    <div class="uk-child-width-1-3" uk-grid>
      <div>
        <p x-text="count + ' items selected'" style="color:orange"></p>
      </div>
      <div class="uk-text-center" id="select-bar-controls">
        <a class="uk-icon uk-margin-right" uk-tooltip="title: Mark selected as read" href="" @click.prevent="bulkProgress('read', $el)">
          <i class="fas fa-check-circle"></i>
        </a>
        <a class="uk-icon" uk-tooltip="title: Mark selected as unread" href="" @click.prevent="bulkProgress('unread', $el)">
          <i class="fas fa-times-circle"></i>
        </a>
      </div>
      <div class="uk-text-right">
        <a @click="selectAll()" uk-tooltip="title: Select all"><i class="fas fa-check-double uk-margin-small-right"></i></a>
        <a @click="deselectAll();" uk-tooltip="title: Deselect all"><i class="fas fa-times"></i></a>
      </div>
    </div>
  </div>

  {# Title header with edit button #}
  <h2 class="uk-title" data-file-title="{{ title.title }}" data-sort-title="{{ title.sort_title.as_deref().unwrap_or("") }}">
    <span>{{ title.display_name }}</span>
    &nbsp;
    {% if nav.is_admin %}
      <a onclick="edit()" class="uk-icon-button" uk-icon="icon:pencil"></a>
    {% endif %}
  </h2>
</div>

{# Breadcrumb navigation #}
<ul class="uk-breadcrumb">
  <li><a href="/library">Library</a></li>
  {% for parent in title.parents %}
    <li><a href="/book/{{ parent.id }}">{{ parent.display_name }}</a></li>
  {% endfor %}
  <li class="uk-disabled"><a>{{ title.display_name }}</a></li>
</ul>
<p class="uk-text-meta">{{ title.content_label }} found</p>

{# Tags section with Select2 #}
<div class="uk-margin" x-data="tagsComponent()" x-cloak x-init="load({{ nav.is_admin|lower }})" x-show="!loading">
  <select class="tag-select" multiple="multiple" style="width:100%">
  </select>
</div>

{# Search and sort controls #}
<div class="uk-grid-small" uk-grid>
  <div class="uk-margin-bottom uk-width-3-4@s">
    <form class="uk-search uk-search-default">
      <span uk-search-icon></span>
      <input class="uk-search-input" type="search" placeholder="Search">
    </form>
  </div>
  <div class="uk-margin-bottom uk-width-1-4@s">
    {% call sort::render_sort_form(sort_options, sort_opt) %}
  </div>
</div>

{# Nested titles grid #}
{% if !nested_title_items.is_empty() %}
<div class="uk-child-width-1-4@m uk-child-width-1-2" uk-grid>
  {% for nested_item in nested_title_items %}
    {% call card::render_card(nested_item.item, nested_item.progress, "title", nav.is_admin) %}
  {% endfor %}
</div>
{% endif %}

{# Entries grid #}
<div class="uk-child-width-1-4@m uk-child-width-1-2" uk-grid>
  {% for entry_item in items %}
    {% call card::render_card(entry_item.item, entry_item.progress, "title", nav.is_admin) %}
  {% endfor %}
</div>

{# Entry modal - for viewing entry details #}
{% call modal::render_entry_modal("title", nav.is_admin) %}

{# Edit modal - for editing title/entry #}
{% call edit::render_edit_modal(title, supported_img_types) %}
{% endblock %}

{% block scripts %}
{% call dots::render_dots() %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="/static/js/alert.js"></script>
<script src="/static/js/title.js"></script>
<script src="/static/js/search.js"></script>
<script src="/static/js/sort-items.js"></script>
{% endblock %}
