{% extends "base.html" %}
{% import "components/card.html" as card %}
{% import "components/entry-modal.html" as modal %}
{% import "components/dots.html" as dots %}

{% block title %}Home{% endblock %}

{% block content %}
{% if new_user && empty_library %}

  <div class="uk-container uk-text-center">
    <i class="fas fa-plus" style="font-size: 80px;"></i>
    <h2>Add your first manga</h2>
    <p style="margin-bottom: 40px;">We can't find any files yet. Add some to your library and they'll appear here.</p>
    <dl class="uk-description-list">
      <dt style="font-weight: 500;">Current library path</dt>
      <dd><code>{{ library_path }}</code></dd>
      <dt style="font-weight: 500;">Want to change your library path?</dt>
      <dd>Update <code>config.yml</code> located at: <code>{{ config_path }}</code></dd>
      <dt style="font-weight: 500;">Can't see your files yet?</dt>
      <dd>
      You must wait {{ scan_interval }} minutes for the library scan to complete
      {% if nav.is_admin %}
        , or manually re-scan from <a href="/admin">Admin</a>
      {% endif %}.
      </dd>
    </dl>
  </div>

{% else if new_user && !empty_library %}

  <div class="uk-container uk-text-center">
    <i class="fas fa-book-open" style="font-size: 80px;"></i>
    <h2>Read your first manga</h2>
    <p>Once you start reading, Mango will remember where you left off
    and show your entries here.</p>
    <a href="/library" class="uk-button uk-button-default">View library</a>
  </div>

{% else if !new_user && !empty_library %}

  {% if continue_reading.len() == 0 && recently_added.len() == 0 %}
    <div class="uk-container uk-text-center">
      <img src="/static/img/banner.png" style="max-width: 400px; padding: 0 20px;">
      <p>A self-hosted manga server and reader</p>
      <a href="/library" class="uk-button uk-button-default">View library</a>
    </div>
  {% endif %}

  {% if continue_reading.len() > 0 %}
    <h2 class="uk-title home-headings">Continue Reading</h2>
    <div class="uk-child-width-1-4@m uk-child-width-1-2" uk-grid>
      {% for cr in continue_reading %}
        {% call card::render_card(cr.entry, cr.percentage, "home", nav.is_admin) %}
      {% endfor %}
    </div>
  {% endif %}

  {% if start_reading.len() > 0 %}
    <h2 class="uk-title home-headings">Start Reading</h2>
    <div class="uk-child-width-1-4@m uk-child-width-1-2" uk-grid>
      {% for t in start_reading %}
        {% call card::render_card(t, 0.0, "home", nav.is_admin) %}
      {% endfor %}
    </div>
  {% endif %}

  {% if recently_added.len() > 0 %}
    <h2 class="uk-title home-headings">Recently Added</h2>
    <div class="uk-child-width-1-4@m uk-child-width-1-2" uk-grid>
      {% for ra in recently_added %}
        {% call card::render_card(ra.item, ra.percentage, "home", nav.is_admin) %}
      {% endfor %}
    </div>
  {% endif %}

  {% call modal::render_entry_modal("home", nav.is_admin) %}

{% endif %}
{% endblock %}

{% block scripts %}
{% call dots::render_dots() %}
<script src="/static/js/alert.js"></script>
<script src="/static/js/title.js"></script>
{% endblock %}
