{% extends "base.html" %}
{% import "components/card.html" as card %}
{% import "components/sort-form.html" as sort %}
{% import "components/dots.html" as dots %}

{% block title %}Library{% endblock %}

{% block content %}
<h2 class="uk-title">Library</h2>
<p class="uk-text-meta">{{ titles.len() }} titles found</p>
<div class="uk-grid-small" uk-grid>
  <div class="uk-margin-bottom uk-width-3-4@s">
    <form class="uk-search uk-search-default">
      <span uk-search-icon></span>
      <input class="uk-search-input" type="search" placeholder="Search">
    </form>
  </div>
  <div class="uk-margin-bottom uk-width-1-4@s">
    {% call sort::render_sort_form(sort_options, sort_opt) %}
  </div>
</div>
<div class="uk-child-width-1-4@m uk-child-width-1-2" uk-grid>
  {% for lib_item in items %}
    {% call card::render_card(lib_item.item, lib_item.progress, "library", nav.is_admin) %}
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{% call dots::render_dots() %}
<script src="/static/js/search.js"></script>
<script src="/static/js/sort-items.js"></script>
{% endblock %}
